<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block Head %}
            <meta charset="UTF-8">
            
            {% block Script %}
                <script src="{{ dView['basePath'] }}/vendor/twbs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            {% endblock %}
            
            {% block Style %}
                <link rel="stylesheet" href="{{ dView['basePath'] }}/vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
                <link rel="stylesheet" href="{{ dView['basePath'] }}/ressources/CSS/style.css">
            {% endblock %}
            
            <title>{% block Title %}{{ dView['title'] }}{% endblock %}</title>            
        {% endblock %}
    </head>
    <body>
        <header>
            {% block Header %}
                {% include 'Common/Header.html.twig' %}
            {% endblock %}
        </header>
        
        {% block HeadTitle %}
            <div class="mt-4">
                <h1 class="text-center ">{{ dView['title'] }}</h1>
            </div>
        {% endblock %}
        
        
        {% block Body %}
        {% endblock %}
        
        <footer>
            {% include 'Common/Footer.html.twig' %}
        </footer>
    </body>
</html>        